// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');

$text-font: 'Open Sans', sans-serif;
$title-font: 'ZCOOL QingKe HuangYou', cursive;

// COLORS

$red: #ff7979;
$dark-red: #eb4d4b;
$white: #fff;
$black: #000;
$blue: #686de0;
$dark-blue: #4834d4;
$light-grey: #95afc0;
$dark-grey: #535c68;
$green: #badc58;
